/* buat headernya */

header {
    background: red;
    color: white;
    padding: 15px 20px;
    font-size: 20px;
}


/* biar footer jadi seperti watermark */

footer {
    background: grey;
    color: white;
    padding: 10px;
    text-align: center;
}